/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.mobContainer {
  position: relative;
  text-align: center;
  color: white;
  width:100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   
}

.mobContainer img{
  width: 100%;
}
.mobContent {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left top, right top, color-stop(6.37%, rgba(203, 87, 44, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, rgba(203, 87, 44, 0.5) 6.37%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, rgba(203, 87, 44, 0.5) 6.37%, rgba(0, 0, 0, 0) 100%);
  color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: end; */
  /* align-items: center; */
  padding: 10px;
  gap: 20px;
  bottom: 0%;
  -webkit-animation:none;
          animation:none;
  height: -webkit-fill-available;
  /* right: 0; */
}

.mobContent .isVisible {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left top, right top, color-stop(6.37%, rgba(203, 87, 44, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, rgba(203, 87, 44, 0.5) 6.37%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, rgba(203, 87, 44, 0.5) 6.37%, rgba(0, 0, 0, 0) 100%);
  color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: end; */
  /* align-items: center; */
  padding: 10px;
  gap: 20px;
  bottom: 0%;
  -webkit-animation: box-from-right 3s ;
          animation: box-from-right 3s ;
  /* right: 0; */
    height: 80%;
}

  
.mobContent h1{
  font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: justify;
margin-top: auto;
color: #CB572C;
}

.mobContent p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 139.1%;
text-align: justify;
letter-spacing: 0.025em;
white-space: nowrap;
color: #FFFFFF;
}

.mobmakes{
display: none;

}


.textLeft{
  -webkit-animation: box-from-left 3s ;
          animation: box-from-left 3s ;
}

.textRight{
  -webkit-animation: box-from-right 3s ;
          animation: box-from-right 3s ;
}
@-webkit-keyframes box-from-left {
  0% {
      margin-left: -100%;
  }
  100% {
      margin-left: 0%;
  }
  
}
@keyframes box-from-left {
  0% {
      margin-left: -100%;
  }
  100% {
      margin-left: 0%;
  }
  
}

@-webkit-keyframes box-from-right {
  0% {
      margin-right: -100%;
  }
  100% {
      margin-right: 0%;
  }
  
}

@keyframes box-from-right {
  0% {
      margin-right: -100%;
  }
  100% {
      margin-right: 0%;
  }
  
}
@media screen and (max-width:450px) {
  .mobmakes{
    display: block;
    
    }
  
}
