/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.row {
  float: left;
  width: 100%;
}

.row .block {
  float: left;
  width: 100%;
  height: 150px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: -20px;
}

.center {
  /* padding: 70px 0; */
  /* border: 3px solid green; */
  text-align: center;
  margin-top: 50px;
  position: absolute;
}

.dream {
  margin: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 118%;
  letter-spacing: -0.005em;
  color: #FFFFFF;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  transition: color 2s;
}

.hovicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  line-height: 90px;
  cursor: pointer;
  /* margin: 20px; */
  width: 100%;
  height: 200px;
  /* border-radius: 25px; */
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: #fff;
  max-width: 100vw;
    overflow-x: hidden;
}

.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 120%;
  margin-left: -10%;
  height: 100%;
  border-radius: 50px;
  content: "";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.hovicon:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
  color: #000000;
}

/* Effect 2 */
.hovicon.effect-2:after {
  top: -2px;
  left: -2px;
  bottom: 50px;
  padding: 2px;
  z-index: -1;
  background: #E37C56;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  -o-transition: transform 2s, opacity 2s;
  transition: transform 2s, opacity 2s;
  transition: transform 2s, opacity 2s, -webkit-transform 2s;
}

/* Effect 2b */
.hovicon.effect-2.sub-b:hover:after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 10;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  -o-transition: transform 2s, opacity 2s;
  transition: transform 2s, opacity 2s;
  transition: transform 2s, opacity 2s, -webkit-transform 2s;
}

/* .hovicon.effect-2.sub-b:hover, .hovicon.effect-2.sub-b:hover {
    color: #fff;
} */
/* 
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
} */
/* @keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
} */
@media screen and (max-width: 750px) {
  .center {
    /* padding: 70px 0; */
    /* border: 3px solid green; */
    text-align: center;
    position: absolute;
  }
  .dream {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 20px;
    margin-bottom: 50px;
    white-space: nowrap;
  }
}