/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


.myTeam{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.myTeam .myTeamhead {
  height: 501px;
  background-image: url("../../images/myteamBackground.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.myTeam .myTeamhead .myTeamborder {
  height: 415px;
  border: 1px solid #FFFFFF;
}
.myTeam .myTeamhead .myTeamborder img {
  width: 10%;
}
.myTeam .myTeamhead .myTeamborder p {
  width: 80vw;
  height: 172px;
  font-style: italic;
  font-family: 'Salsa';
  font-weight: 400;
  font-size: 5vw;
  line-height: 86px;
  padding-top: 6rem;
  text-align: center;
  color: #FFFFFF;
  padding-left: 5vw;
  padding-right: 5vw;
}


.myTeam .meetTheTeam {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.167vw;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #3E3E3E;
}
.myTeam .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.myTeam .row div {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}
.myTeam .row img {
  /* height: 60vh;
  width: 20vw; */
  width: 319px;
    height: 319px;
  margin: 1rem;
}
@media only screen and (max-width: 650px) {

  .myTeam .row img {
    /* width: 50vw; */
    width: 200px;
    height: 200px;

  }
}
.myTeam .row div p:nth-of-type(1) {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  color: #000000;
}
.myTeam .row div p:nth-of-type(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  /* max-width: 319px; */
}

@media only screen and (max-width: 850px) {

    .myTeam .myTeamhead {
      height: 150px;
      }

  .myTeam .myTeamhead .myTeamborder {
  height: auto;
  border: 1px solid #FFFFFF;
}

.myTeam .myTeamhead .myTeamborder p {
  width: 80vw;
  height: auto;
  font-style: italic;
  font-weight: 400;
  font-size: 5vw;
  line-height: 32px;
  padding-top: 0rem;
  text-align: center;
  color: #FFFFFF;
  padding: 5px;
}
  .myTeam .meetTheTeam {
    font-size: 32px;
  }

  .myTeam .row div p:nth-of-type(1) {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height */
    color: #000000;
    max-width: 200px;
  }
  .myTeam .row div p:nth-of-type(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    max-width: 200px;
  }
}
