/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .contact-info {
  background: #383838;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.contact .contact-info .contact-heading {
  font-style: normal;
  font-weight: 700;
  line-height: 138.7%;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.contact .contact-info .contact-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 138.7%;
  /* or 28px */
  text-align: justify;
  letter-spacing: 0.055em;
  color: #FFFFFF;
}
.contact .contact-info .contactDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.contact .contact-info .contactDetails p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.contact .contact-info .social-media {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.contact .contact-info .social-media img {
  padding: 1rem;
}
.contact .contact-info .contact-in {
  height: 300px;
}