

.contactPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  /* padding: 2rem; */
  margin: 2rem 10rem 2rem 10rem;
  border-radius: 13px;
  padding-bottom: 1rem;
  
}
.contactPage .contactInfo {
  background: #383838;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  max-width: 500px;
}
.contactPage .contactInfo h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 138.7%;
  letter-spacing: 0.025em;
  margin: 0.5rem;
  margin-left: 1rem;
  color: #FFFFFF;
}
.contactPage .contactInfo .contact-paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 138.7%;
  /* or 28px */
  margin-left: 1rem;
  letter-spacing: 0.055em;
  color: #FFFFFF;
}
.contactPage .contactInfo .contactDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 2rem;
  margin-top: 1rem;
}
.contactPage .contactInfo .contactDetails p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  margin-top: 1rem;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.contactPage .contactInfo .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          margin-top: 2rem;
}
.contactPage .contactInfo .social-media img {
  margin: 1rem;
}
.contactPage .contactForm {
  background-color: #FFFFFF;
}
.contactPage .contactForm .flName{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactPage .contactForm .error {
  font-family: "Poppins";
  font-style: normal;
  color: red;
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactPage .contactForm input {
  width: 250px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #080000;
  margin: 1rem 0;
  border-radius: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.025em;
  color: #979797;
}

#root > div > div:nth-child(2) > div > div.contactForm > form > div:nth-child(4) > label > input{
  width: 90%;
}
.contactPage .contactForm input:focus {
  color: #000000;
}
.contactPage .contactForm label {
  margin: 2rem 2rem 1rem 2rem;
  color: #979797;
}
.contactPage .contactForm p {
  margin-left: 2rem;
  width: 488px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.7%;
  /* or 21px */
  text-align: justify;
  letter-spacing: 0.025em;
  color: #393939;
}
.contactPage .contactForm .uploadButton {
  width: 185px;
  padding: 10px;
  background: #EFEFEF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.contactPage .contactForm .uploadButton:hover {
  cursor: pointer;
}
.contactPage .contactForm button {
  margin-left: 2rem;
  float: right;
}
.contactPage .containerClass .special-label {
  display: none;
  margin-top: 12px;
  margin-left: -100%;
  z-index: none;
}
.contactPage .react-tel-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  /* margin-top: 10px;
  margin: 1.5rem 0rem */
  /* margin-left: 2rem; */
  /* margin-bottom: 2rem; */
}
.contactPage .react-tel-input .flag-dropdown {
  margin-left: -2px;
  width: 41px;
  border: none;
}
.contactPage .react-tel-input .flag-dropdown.open {
  z-index: 2;
  background: #fff;
  width: 300px;
  border-radius: 3px 0 0 0;
}
.contactPage .react-tel-input .form-control {
  border-radius: 0%;
  margin-left: 0px;
}

.submitButton:hover {
  background-color: #CB572C;
  color: #FFFFFF;
  cursor: pointer;
}

.submitButton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Auto layout */
  padding: 16px 58px;
  gap: 10px;
  background: #FFFFFF;
  border: 3px solid #CB572C;
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 118%;
  color: #000000;
}
.contactPage .contactForm .recaptcha{
  /* margin:"2rem"; */
  max-width:"70vw";
  margin: "2rem";
}
@media screen and (max-width: 950px) {
  .contactPage{
    margin: 0rem 0rem 0rem 0rem;
    padding: 1rem;
  }
  .contactPage .contactForm .flName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.contactPage .contactInfo .contact-paragraph {
  
  font-size: 15px;
}
.contactPage .contactInfo .contactDetails p {
  /* font-family: "Poppins";
  font-style: normal;
  font-weight: 400; */
  font-size: 16px;
  line-height: 20px;
}
  .contactPage .content1 {
    margin-left: 2rem;
  }
  .contactPage .content1::after {
    content: "\a";
    white-space: pre;
  }
  .contactPage .contactForm button {
    margin: 2rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .contactPage .contactForm p {
    width: 70vw;
  }
  .contactPage .contactForm {

    max-width: 100vw;
  }

  .contactPage .contactForm input {
    width: 80vw;
    /* max-width: 500px */
  }
  #root > div > div:nth-child(2) > div > div.contactForm > form > div:nth-child(4) > label > input{
    width: 80vw;
  }
  .contactPage .react-tel-input {
    width: 80vw;
  }

  /* .rc-anchor-light.rc-anchor-normal, .rc-anchor-light.rc-anchor-compact {
    border: 1px solid #d3d3d3;
    width: 60vw;
} */
  /* div iframe {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  } */
}