.contactPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //   align-items: center;
     justify-content: center;
     background-color: #FFFFFF;
    margin:1rem;
    .contactInfo{
        background: #383838;
        border-radius: 19px;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        max-width: 500px;
          // margin: 1rem;
        h1{
          font-family: "Poppins";
          font-style: normal;
            font-weight: 700;
            //  font-size: 2.5vw;
            line-height: 138.7%;

            letter-spacing: 0.025em;
            margin:0.5rem;
            margin-left: 1rem;
            color: #FFFFFF;
        }
        .contact-paragraph{
            //   width: 60%;

            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            //  font-size: 2vw;
            line-height: 138.7%;
            /* or 28px */
             margin-left: 1rem;
            
            // text-align: justify;
            letter-spacing: 0.055em;
            
            color: #FFFFFF;
              // margin:2rem;
              // margin-left: 0.5rem;
        }

        .contactDetails{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
             margin-left: 2rem;
            p{
               
              font-family: "Poppins";
              font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 40px;
                /* identical to box height */

                display: flex;
                align-items: flex-end;
                letter-spacing: 0.025em;

                color: #FFFFFF;

            }

            // .contact-in{
            //   .fitmap{
            //     margin:2rem
            //   }
            //  }
        }
        .social-media{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            img{
                margin:1rem
            }
        }

    }
    .contactForm{
            background-color: #FFFFFF;
            // margin: 3rem;
            // padding: 5rem;
            .error{
              font-family: "Poppins";
    font-style: normal;
              color: red;
              font-size: 1vw;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
           
            }
            input {
               
                width: 250px;
                outline: 0;
                border-width: 0 0 2px;
                border-color: #000000;
                margin:2rem;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height */

                letter-spacing: 0.025em;

                color: #979797;
            }

            // input::placeholder{
            //   padding-top: 80px;
            // }
              input:focus {
                color: #000000;

              }

              label{
                margin: 2rem;
              }

              p{
                // color: #393939;
                // font-size: 0.5vw;
                 margin: 2rem;

                width: 488px;
// height: 63px;

                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 138.7%;
                  /* or 21px */

                  text-align: justify;
                  letter-spacing: 0.025em;

                  color: #393939;

              }
              .uploadButton{
                width: 185px;
                padding: 10px;
                // height: 29px;
                // left: 675px;
                // top: 631px;
                
                background: #EFEFEF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
              }
              .uploadButton:hover{
                cursor:pointer;

              }
              button{
                margin: 2rem;
                float: right;
              }

              // span{
              //   padding-left: 1rem;
              // }

             
    }
}

.submitButton:hover{
  background-color: #CB572C;
  color:#FFFFFF;
  cursor: pointer;
}
.submitButton{
  box-sizing: border-box;

  /* Auto layout */
  
      
       padding: 16px 58px;
       gap: 10px;

      background: #FFFFFF;
     border: 3px solid #CB572C;
     border-radius: 50px;


     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 25px;
     line-height: 118%;


     color: #000000;;
}

@media screen and (max-width:"750px") {
  .contactPage{
    .content1{
      margin-left: 2rem;
    }
    .content1::after{
      content: "\a";
      white-space: pre;
  }
  }
}