/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.aboutUsAnimation {
  background-color: bisque;
}
.aboutUsAnimation .head {
  height: 496px;
  background-color: bisque;
}
.aboutUsAnimation .bottom-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(blue));
  background-image: -o-linear-gradient(blue, blue 100%);
  background-image: linear-gradient(blue, blue 100%);
  background-size: 80% 200px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-animation: 2s ease-out 0s 1 slideInFromLeft;
          animation: 2s ease-out 0s 1 slideInFromLeft;
}
.aboutUsAnimation .right-bg {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(28, 28, 39)), to(rgb(5, 5, 16)));
  background-image: -o-linear-gradient(rgb(28, 28, 39), rgb(5, 5, 16) 100%);
  background-image: linear-gradient(rgb(28, 28, 39), rgb(5, 5, 16) 100%);
  background-size: 30% 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.aboutUsAnimation p {
  display: block;
  width: 80vw;
  font-style: italic;
  font-weight: 400;
  font-size: 4vw;
  line-height: 86px;
  padding-top: 6rem;
  text-align: justify;
  color: #481010;
  -webkit-animation-name: moveInleft;
          animation-name: moveInleft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@-webkit-keyframes moveInleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  80% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
}
@keyframes moveInRight {
  80% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
}