.portfolioSidebar{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
.container{
    display:flex;
    background:#FFFFFF;
    // width: 17vw;
    // height: 100vh;
    


.sidebar{
    
    color: rgb(7, 6, 6);
    height: 100vh;
     width: 100%;
    transition: all 0.5s;
    margin-left: 1rem;
}

.link{
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 38px;
    text-align: justify;
    letter-spacing: 0.025em;
    color: #383838;
     gap: 15px;
     white-space: nowrap
}
.link:hover{
   
    color: #CB572C;
    transition: all 0.5s;
}
.active {
    color: #CB572C;
}
}

.main{
    width: 70vw;
    height: 70vh;
    // background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 2vh;
}


}