/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.portfolioSidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.portfolioSidebar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
}
.portfolioSidebar .container .sidebar {
  color: rgb(7, 6, 6);
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 1rem;
}
.portfolioSidebar .container .link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 38px;
  text-align: justify;
  letter-spacing: 0.025em;
  color: #383838;
  gap: 15px;
  white-space: nowrap;
}
.portfolioSidebar .container .link:hover {
  color: #CB572C;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolioSidebar .container .active {
  color: #CB572C;
}
.portfolioSidebar .main {
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}