.portfolio{
        background-color: #FFFFFF;
        .columnCanopy{
            display: flex;
            flex-direction: column;
        }
        .rowCanopy{
            display: flex;
            flex-direction: row;
        }
    .background{
        // background-image: url("./portfolioimage.png");
         background: #cb572c;
         width: 100vw;
        height:635px;
        overflow: hidden;
        // z-index: -1;
        margin-top: 10px;
        p{
            width: 495px;
            height: 100px;
            margin-left: 11rem;
            padding-top: 3rem;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 139.1%;
            /* or 50px */

            display: flex;
            align-items: flex-end;
            letter-spacing: 0.025em;

            color: #FFFFFF;

        }
        img{
            margin-left: 11rem;
            padding-top: 2rem;
            width: 475px;
            height: 388px;
        }

        .whiteCircle{
            position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // height: 100px;
            // width: 200px;
            border-radius: 50%;
            // background-color: green;

            background: linear-gradient(180deg, #ffffff 59%, #cb572c 40%);

            // position: absolute;
            width: 1027px;
            height: 1027px;
            left: 796px;
            top: 148px;

            // background: #D9D9D9;

            border-radius: 50%;
        //    z-index: -11;

        .portfolioName{
            margin-top: 303px;
            margin-left: 169px;
            color: #000000;
            font-family: 'Poppins';
            font-style: normal;
        //    align-items: center;
        }
        }
    }
    .portfolioNameMob{
        margin-top: 303px;
        margin-left: 169px;
        color: #000000;
        position: relative;
        display: none;
        font-family: 'Poppins';
font-style: normal;
    //    align-items: center;
    }
 
    .gates{
        background-image: linear-gradient(#cb572c, #cb572c);
        background-repeat: no-repeat;
        background-size: 416px 433px;
        color: #ffffff;
        margin-top: 14vh;
        p{
            font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 139.1%;
/* identical to box height, or 67px */
padding: 2rem;
display: flex;
align-items: flex-end;
letter-spacing: 0.025em;

color: #FFFFFF;
        }
       .img1{
        width: 566px;
        height: 320px;
        left: 324px;
        top: -300px;

       }
       .img2{
        width: 542px;
        height: 378px;
        left: 360px;
        top: -240px;
       }

       .img3{
        width: 695px;
        height: 400px;
        margin-left: 139px;
        margin-top: -280px;
       }

       .img4{
        width: 600px;
        height: 335px;
        margin-left: 2rem;
        margin-top: -280px;
       }
        .start{
            position: relative;
            // float: right;
            // margin-right: 50px;
            // width: 542px;
            // height: 398px;
            // z-index:"100"
          }

         


    }
    // div.gates > img:nth-child(1) {
    //     width: 266px;
    //     height: 340px;
    //     // left: 324px;
    //     top: 903px;
    //   }

    //   div.gates > img:nth-child(2) {
    //     width: 542px;
    //     height: 398px;
    //     // left: 926px;
    //     top: 903px;
        
    //   }
    .canopy{
        background: #383838;

        padding: 4rem;
        .mobileView{
            font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 139.1%;
                /* identical to box height, or 67px */
                margin-left: 3rem;
                display: none;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.025em;

                color: #FFFFFF;
        }
        .rowCanopy{
            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 139.1%;
                /* identical to box height, or 67px */
                margin-left: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.025em;

                color: #FFFFFF;
            }
        }
        .canopy1{
            // position: absolute;
            width: 505px;
            height: 635px;
            left: 0px;
            top: 0px;
        }
        .canopy2{
            width: 505px;
            height: 317px;
            top: 0px;
        }
        .canopy3{
            width: 410px;
            height: 317px;
        }
        .canopy4{
            width: 390px;
            height: 317px;
        }
    }

    .staircase{
        background: url("triangle.png") , #D9D9D9;
        background-repeat: no-repeat;
        align-items: center;

        // background-position: absolute;
        padding-left: 5rem;
        padding-right: 4rem;
        // background: #D9D9D9;
        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 139.1%;
            padding: 2rem;
            color: #FFFFFF;
        }
        .staircase1{
            // margin-top: 9rem;
            padding: 1rem;
            width: 508px;
            height: 544px;
            
        }

        .staircase2{
            width: 367px;
            height: 367px;
            padding: 1rem;
            margin-top: -7rem;
        }
        .staircase3{
            width: 348px;
            height: 332px;
            padding: 1rem;
            
        }
        .staircase4{
            width: 328px;
            height: 328px;
            padding: 1rem;
            margin-top: -7rem;
            padding-left: 3rem;
        }
        .staircase5{
            width: 370px;
            height: 370px;
            padding: 1rem;
        }

    }

    .railing{
        background: url("./rail.png") top right, #ffffff;
        background-repeat: no-repeat;
        padding-left: 4rem;
        padding-right: 4rem;
    
        p{
            padding-top: 2rem;
            text-align: right;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 139.1%;

            letter-spacing: 0.025em;

            color: #FFFFFF;
        }
    .railing1{
        width: 361px;
        height: 733px;
        padding: 1rem;
        margin-top: -5rem;
    }
    .railing2{
        width: 478px;
        height: 323px;
        padding: 1rem;
        margin-top: -3rem;
        // padding-top: 7rem;
    }
    .railing3{
        width: 489px;
        height: 307px;
        padding: 1rem;
        margin-top: -1.2rem;
        // padding-top: 7rem;
    }
    .railing4{
        width: 999px;
        height: 352px;
        margin-top: -0.2rem;
    }
    }

    .pergola{
        // background: url("./paragolaBG.png")  right no-repeat,  #383838;
        background: url("./paragolaBG.png")  right no-repeat, linear-gradient(180deg, #383838 48%, #D9D9D9 40%);

        display: flex;
        align-items: center;
         justify-content: center;
        
         p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 139.1%;
            letter-spacing: 0.025em;
            margin-left: 3rem;
            color: #FFFFFF;
         }
        
        .paragola1{
            width: 507px;
            height: 254px;
            padding: 1rem;
        }

        .paragola2{
            width: 473px;
            height: 296px;
            padding: 1rem;
            margin-left: 2.1rem;
        }
        .paragola3{
            width: 869px;
            height: 494px;
            padding: 1rem;
           
        }
        
        .other1{
            width: 541px;
            height: 304px;
            padding: 0.5rem;
            // margin-top: 8rem;
        }

        .other2{
            width: 363px;
            height: 272px;
            padding: 0.5rem;
        }
        .other3{
            width: 368px;
            height: 415px;
            padding: 0.5rem;
            margin-top: 1rem;
        }
        .other4{
            width: 203px;
            height: 415px; 
            padding: 0.5rem;
            margin-top: 1rem;
            padding-left: 1.2rem;
        }
        .other5{
            width: 296px;
            height: 444px;
            padding: 0.5rem;
            padding-left: 1rem;
            margin-top: -1rem;
        }
        .other6{
            width: 459px;
            height: 612px;
            padding: 0.5rem;
            margin-top: -11.5rem;
            margin-left: 1rem;
        }

    }
}


@media  screen and (max-width:"750px") {
    .portfolio{
        background-color: #FFFFFF;
        .columnCanopy{
            display: block;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .rowCanopy{
            display: flex;
            flex-direction: column;
        }
    .background{
        // background-image: url("./portfolioimage.png");
         background: #cb572c;
         width: 100vw;
        // height:635px;
        overflow: hidden;
        // z-index: -1;
        margin-top: 10px;
        p{
            width: 495px;
            height: 100px;
            margin-left: 0rem;
            padding: 1rem;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 139.1%;
            /* or 50px */

            display: flex;
            align-items: flex-end;
            letter-spacing: 0.025em;

            color: #FFFFFF;

        }
        img{
            margin-left: 0rem;
            // padding: 1rem;
            padding-top: 2rem;
             width: 100%;
             height: 388px;
        }

        .whiteCircle{
            position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // height: 100px;
            // width: 200px;
            border-radius: 50%;
            // background-color: green;

            background: linear-gradient(180deg, #ffffff 58.5%, #cb572c 40%);

            // position: absolute;
            width: 1027px;
            height: 1027px;
            left: 796px;
            top: 148px;

            // background: #D9D9D9;

            border-radius: 50%;
        //    z-index: -11;

        .portfolioName{
            margin-top: 303px;
            margin-left: 169px;
            color: #000000;
        //    align-items: center;
        }
        }
    }
    .portfolioNameMob{
        margin-top: 303px;
        margin-left: 169px;
        color: #000000;
        position: relative;
        display: none;
    //    align-items: center;
    }
 
    .gates{
        background-image: linear-gradient(#cb572c, #cb572c);
        background-repeat: no-repeat;
        background-size: 416px 133px;
        color: #ffffff;
        margin-top: 14vh;
        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 139.1%;
            /* identical to box height, or 67px */
            padding: 2rem;
            display: flex;
            align-items: flex-end;
            letter-spacing: 0.025em;

            color: #FFFFFF;
        }
       .img1{
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;

       }
       .img2{
         width: 100%;
        height: auto;
        left: 0px;
        top: 0px;

       }

       .img3{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;

       }

       .img4{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;

       }
        .start{
            position: relative;
            // float: right;
            // margin-right: 50px;
            // width: 542px;
            // height: 398px;
            // z-index:"100"
          }

         


    }
    // div.gates > img:nth-child(1) {
    //     width: 266px;
    //     height: 340px;
    //     // left: 324px;
    //     top: 903px;
    //   }

    //   div.gates > img:nth-child(2) {
    //     width: 542px;
    //     height: 398px;
    //     // left: 926px;
    //     top: 903px;
        
    //   }
    .canopy{
        background: #383838;

        padding: 4rem;

        .mobileView{
            font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 139.1%;
                /* identical to box height, or 67px */
                margin-left: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.025em;

                color: #FFFFFF;
        }
        .rowCanopy{
            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 139.1%;
                /* identical to box height, or 67px */
                margin-left: 3rem;
                display: none;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.025em;

                color: #FFFFFF;
            }
        }
        .canopy1{
            // position: absolute;
            position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 10px;
        }
        .canopy2{
            position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 10px;
        }
        .canopy3{
            position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 10px;
        }
        .canopy4{
            position: relative;
            width: 100%;
            height: auto;
            margin-left: 0px;
            margin-top: 10px;
        }
    }

    .staircase{
        background: url("triangle.png") , #D9D9D9;
        background-repeat: no-repeat;
        margin-left: -3rem;
        // background-position: absolute;
        // padding-left: 4rem;
        // padding-right: 4rem;
        // background: #D9D9D9;
        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 139.1%;
            padding: 2rem;
            color: #FFFFFF;
        }
        .staircase1{
            // margin-top: 9rem;
            position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
            
        }

        .staircase2{
            position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        }
        .staircase3{
            position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
            
        }
        .staircase4{
            // display: block;
            // margin-left: auto;
            // margin-right: auto;
                position: relative;
        width: 100%;
        height: auto;
        margin-left: -2rem;
        margin-top: 0px;
        }
        .staircase5{
            position: relative;
            width: 100%;
            height: auto;
            margin-left: 0px;
            margin-top: 0px;
        }

    }

    .railing{
        background: url("./rail.png") top right, #ffffff;
        background-repeat: no-repeat;
        padding-left: 2rem;
        padding-right: 4rem;
    
        p{
            padding-top: 2rem;
            text-align: right;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 139.1%;

            letter-spacing: 0.025em;

            color: #FFFFFF;
        }
    .railing1{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
    }
    .railing2{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;;
    }
    .railing3{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
    }
    .railing4{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 1rem;
        margin-top: 0px;
    }
    }

    .marginTop2{
        margin-top: 0rem;
       }
       .marginLeft-10{
        margin-left: 0rem;
       }
       .marginLeft2{
        margin-left: 0rem;
       }



.pergola{
    // background: url("./paragolaBG.png")  right no-repeat,  #383838;
    background: url("./paragolaBG.png")  right no-repeat, linear-gradient(180deg, #383838 48%, #D9D9D9 40%);

    display: flex;
    align-items: center;
     justify-content: center;
    
     p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 139.1%;
        letter-spacing: 0.025em;
        margin-left: 3rem;
        color: #FFFFFF;
     }
    //  .columnCanopy{
    // .rowcanopy{
    // .columnCanopy{
    .paragola1{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0rem;
        margin-top: 0px;
        padding: 0%;
    }

    .paragola2{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        padding: 0%;
    }
// }
    .paragola3{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        padding: 0%;
       
    }


    .other1{
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        padding: 0%;
        // margin-top: 8rem;
    }

    .other2{
        position: relative;
        width: 100%;
        height: auto;
        padding: 0%;
        // margin-left: 0px;
        // margin-top: 0px;
    }
    .rowCanopy{
    .other3{
        position: relative;
        width: 100%;
        height: auto;
        padding: 0%;
        margin-bottom: 10px;
        // margin-left: 0px;
        // margin-top: 0px;
    }
    .other4{
        position: relative;
        width: 100%;
        height: auto;
        padding: 0%;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .other5{
        position: relative;
        width: 100%;
        height: auto;
        padding: 0%;
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .other6{
        position: relative;
        width: 100%;
        height: 268px;
        padding:0px;
        margin-left: 0rem;
        margin-top: 0rem;
    }
}}
// }

// }
}}