/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.header {
  background-color: #FFFFFF;
  height: 12vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          border-bottom: 5px solid #cb572c;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 18vw;
  margin-left: 0.5rem;
}
.header .logo img {
  width: 14vw;
  height: 90%;
}
.header .logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6rem;
}
.header .right-header .gmp {
  height: 10vh;
  width: 5vw;
  padding: 1rem;
  /* margin-right: 15px; */
}
.header .right-header .gmp img {
  height: 90%;
  width: 100%;
}
.header .right-header .iso {
  height: 10vh;
  width: 5vw;
  margin-right: 120px;
}
.header .right-header .iso img {
  margin-left: -5px;
  width: 100%;
  height: 90%;
}

@media screen and (max-width: 1050px) {
  .header {
    background-color: #FFFFFF;
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 25vw;
  }

  
  .header .right-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 6rem;
    margin-top: 2px;

  }
  /* .header .right-header .marginR {
    margin-right: 15px;
  }
  .header .right-header .gmp {
    height: auto;
    width: 10vw;
    margin-right: 15px;
  }
  .header .right-header .gmp img {
    height: 60%;
    width: 80%;
    margin-left: 25px;
   
  }
  .header .right-header .iso {
    height: auto;
    width: 10vw;
  }
  .header .right-header .iso img {
    margin-left: 25px;
    width: 80%;
    height: 60%;
  } */
}


@media screen and (max-width:550px) {
  .header .right-header .marginR {
    margin-right: 15px;
  }
  .header .right-header .gmp {
    height: auto;
    width: 10vw;
    margin-right: 15px;
  }
  .header .right-header .gmp img {
    height: 60%;
    width: 80%;
    margin-left: 25px;
   
  }
  .header .right-header .iso {
    height: auto;
    width: 10vw;
  }
  .header .right-header .iso img {
    margin-left: 25px;
    width: 80%;
    height: 60%;
  }



  .header .logo img{
    width: 30vw;
  }

  .header .logo a {
    height: 80%;
  }
}