.toggleHeader{
      .posAbslt{
        position: absolute;
      }

    //   #Abs{
    //     position: absolute;
    //     z-index: 20000;
    //   }

      #menu {
        margin-top: -4.5rem;
       
        z-index: 20000;
         position: absolute;
        

      }
      
      #menu-bar {
        width: 50px;
        height: 50px;
        margin: 60px 30px 20px 120px;
        cursor: pointer;
      }
      
      .bar {
        height: 7px;
         width: 100%;
        background-color: #CB572C;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
      }
      
      #bar1 {
        transform: translateY(-4px);
      }
      
      #bar3 {
        transform: translateY(4px);
      }
      
      .nav {
        transition: 0.3s ease;
        display: none;
      }
      
      .nav ul {
        padding: 0 22px;
      }
      
      .nav li {
        list-style: none;
        // padding: 12px 0;
      }
      
      .nav li a {
        color: white;
        font-size: 30px;
        text-decoration: none;
      }
      
      .nav li a:hover {
        font-weight: bold;
      }
      
      .menu-bg, #menu {
        //  top: 0;
       right: 0;
         position: absolute;
      }
      
      .menu-bg {
        z-index: 10;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, #CB572C, #CB572C);
        border-radius: 50%;
        transition: 0.3s ease;
        overflow-x:hidden;
        
      }
      
      .change {
        display: block;

      }
      
      .change .bar {
        background-color: white;
      }
      
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      
      .change #bar2 {
        opacity: 0;
      }
      
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      }
      
      .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(54%,-30%);
      }

      

      .menuItems{
        // width: 20vw;
        // width: 20%;
        // padding: 1rem;
        // position: absolute;
        // z-index: 1000;
        // right: 0;
        // height: 25rem;
        // float: right;
        // background: rgba(203, 87, 44, 0.8);
        // border-bottom-left-radius: 50%;
        // margin-left:0;
    text-decoration: none;
        font-weight: 400;
    font-size: 20px;
    // line-height: 28px;
    /* identical to box height */
    font-family: "Poppins";
        font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    color: #FFFFFF;
    
    
    
    
    a{
      font-size: 24px;
        text-decoration: none;
        color: #FFFFFF;
        width: 100%;
        text-align: end;
        transition: color 0.5s;
        padding-left: 10px;
        // margin-right: 1rem;
      
    }
    
    a:hover{
        color:#24201f;
        // background-color: #fffffF;
    }
}
}


@media screen and (max-width:750px) {
  .toggleHeader{
      .menuItems{
        a{
          font-size: 20px;
        }
      }}
}

@media screen and (max-width: 360px)
{
.toggleHeader .menuItems a {
    font-size: 18px;
}
.toggleHeader .change-bg {
    width: 520px;
    height: 380px;
    transform: translate(45%, -30%);
}
}

@media screen and (max-width: 1050px) {
  .toggleHeader .menuItems a {
    font-size: 20px;
    margin-right: 25px; 
}

  .menu-bg, #menu {
  
   right: -30px;
     position: absolute;
  }
}


@media screen and (max-width: 1050px) {
  

  .toggleHeader .menu-bg, .toggleHeader #menu {
  
   right: -30px;
     position: absolute;
  }

  .toggleHeader .bar {
    height: 5px;
    width: 85%;
    background-color: #CB572C;
    display: block;
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .toggleHeader #menu-bar {
    width: 50px;
    height: 50px;
    margin: 63px 30px 20px 120px;
    cursor: pointer;
}
}