.header{
    background-color:#383838 ;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex; 
        // justify-content: center;
        align-items: center;
        height: 100%;
        img{
             width: 100%;
            height: 80%;
        }
        
        a{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .right-header{
        display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    img{
        margin: 1rem;
        width: 40%;
    }
    }

    img{
        margin: 1rem;
        width: 80%;
    }

}

.menuItems{
    // width: 20vw;
    // width: 20%;
    padding: 1rem;
	position: absolute;
    z-index: 1000;
	right: 0;
	// height: 25rem;
    float: right;
    background: rgba(203, 87, 44, 0.8);
    border-bottom-left-radius: 50%;
    margin-left:0;
text-decoration: none;
    font-weight: 400;
font-size: 32px;
// line-height: 28px;
/* identical to box height */
font-family: "Poppins";
    font-style: normal;
display: flex;
flex-direction: column;
align-items: flex-end;

color: #FFFFFF;




a{
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    text-align: end;
    // margin-right: 1rem;
  
}

a:hover{
    color:#24201f;
    // background-color: #fffffF;
}
 }
 