/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.client-logo-wrap {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.client-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-logo-left {
  -webkit-animation: logomoveleft 10s linear infinite;
          animation: logomoveleft 10s linear infinite;
}

.client-logo-right {
  -webkit-animation: logomoveright 10s linear infinite;
          animation: logomoveright 10s linear infinite;
}

.client-logo li {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px !important;
  height: 100px;
  width: 220px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 5px;
}

/*
.second-row{ 
  top: 150px;
}*/
@-webkit-keyframes logomoveleft {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
}
@keyframes logomoveleft {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
}
@-webkit-keyframes logomoveright {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}
@keyframes logomoveright {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}