.slider{
    // height:45vh;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: #FFFFFF;
    

.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 30s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}


@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));    
    }
    
}
.slide{
    
    display: flex;
    align-items: center;
    // padding: 15px;
    perspective: 100px;
}
img{
     width: 100%;  
    transition: transform 30s;
}
img:hover{
    transform: translateZ(20px);
}
/* Gradient Shadows */
.slider::before,
.slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: "";
     height: 100%;
    position: absolute;
     width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
} 

.rowslide{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .size{
        width:100px;
        height:100px;
        // margin-top:1rem;
        // padding: 0.2rem;
    }
    img{
        width: 100%;
        height: 100%;
        // margin: 0%;
        
    }
}


}

.rowleft{
     margin-left: -10rem;
      margin-top: -1rem;
}
.marginTop{
     margin-top: -1rem;
}

