/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* #bound-one {
  background: #d0d8db;
}

#bound-two {
  background: #dfcece;
}

#bound-three {
  background: #D0D6B3;
} */
.scroll-bound {
  height: 100vh;
  margin-top: -18px;
}

.scroll-bound .content {
  height: 120vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-bound video {
  width: 100%;
}

@media only screen and (max-width: 300px) and (min-width: 200px) {
  .scroll-bound {
    height: 100vh;
    width: 100vw;
    margin-top: -325px;
    margin-bottom: -220px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .scroll-bound {
    height: 100vh;
    width: 100vw;
    margin-top: -285px;
    margin-bottom: -180px;
  }
}
@media only screen and (max-width: 500px) and (min-width: 400px) {
  .scroll-bound {
    height: 100vh;
    width: 100vw;
    margin-top: -260px;
    margin-bottom: -150px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 500px) {
  .scroll-bound {
    height: 100vh;
    width: 100vw;
    margin-top: -235px;
    margin-bottom: -120px;
  }
}
@media only screen and (max-width: 750px) and (min-width: 600px) {
  .scroll-bound {
    height: 100vh;
    margin-top: -195px;
    margin-bottom: -70px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 750px) {
  .scroll-bound {
    height: 100vh;
    margin-top: -155px;
    margin-bottom: -30px;
  }
}
@media only screen and (max-width: 1050px) and (min-width: 900px) {
  .scroll-bound {
    height: 100vh;
    margin-top: -110px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1050px) {
  .scroll-bound {
    height: 100vh;
    margin-top: -68px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1350px) and (min-width: 1200px) {
  .scroll-bound {
    height: 100vh;
    margin-top: -25px;
    margin-bottom: 90px;
  }
}
@media only screen and (max-width: 1536px) and (min-width: 1350px) {
  .scroll-bound {
    height: 100vh;
    margin-top: 28px;
    margin-bottom: 130px;
  }
}
@media only screen and (max-width: 1800px) and (min-width: 1536px) {
  .scroll-bound {
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 170px;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1800px) {
  .scroll-bound {
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 210px;
  }
}