
.section {
  width: 100vw;
  margin-top: 1rem;
  // margin-bottom: -2rem;
  /* width: 1066px; */
}

.dot{
  width: 12px;
height: 12px;
border-radius: 50%;
background: #646464;
margin: 3px;

//  margin-top: -3rem;
}

.dotBG{
  background:  hsl(21, 62%, 45%);;
}

//  margin-top: -3rem;

// .dot:hover{
//   background:  hsl(21, 62%, 45%);;
// }

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
.testimonialHeader{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 118%;
 
  letter-spacing: 0.075em;
  
  color: #000000;
}

.subtestimonialHeader{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 118%;
letter-spacing: -0.005em;
margin-top: 0.5rem;
color: #000000;
}

.nameTestimonial{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: flex-end;
letter-spacing: 0.025em;

color: #000000;
}
.icon {
  font-size: 3rem;
  color: hsl(21, 62%, 45%);
}

.section-center {
  margin: 0 auto;
  /* margin-top: 4rem; */
  width: 98vw;
  height: 360px;
  max-width: 1066px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  opacity: 0;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.person-img {
  border-radius: 50%;
  margin-top: 1rem;
  width: 121px;
  height: 121px;;
  object-fit: cover;
  /* border: 4px solid hsl(210, 31%, 80%); */
  // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

article h4 {
  text-transform: uppercase;
  color: hsl(21, 62%, 45%);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: hsl(209, 34%, 30%);
}

.title {
  text-align: center;
  // margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.text {
  margin-top: 1rem;
  max-width: 30em;
 /*  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: hsl(210, 22%, 49%); */

  /* width: 1066px; */
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.025em;
margin-left: auto;
margin-right: auto;
color: #3D3D3D;
}

.prev,
.next {
  position: absolute;
  top: 60%;
  /* margin-right: -1rem; */
  transform: translateY(-50%);
  /* background: hsl(210, 22%, 49%); */
  /* color: #fff; */
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
/* .prev:hover,
.next:hover {
  background: hsl(21, 62%, 45%);
} */
.prev {
  left: 0;
}
.next {
  right: 0;
}

@media (min-width: 1000px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 999px) {
  .testimonialHeader{
    font-size: 32px;
  }

  .subtestimonialHeader {
    font-size: 20px;
  }
  .section-center {
     height: 300px;
    margin-left: -1px;
  }

  .text{
    font-size: 14px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .person-img {
    border-radius: 50%;
    margin-top: 1rem;
    width: 80px;
    height: 80px;;
   
    /* border: 4px solid hsl(210, 31%, 80%); */
    // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

.nameTestimonial {
font-size: 15px;
}
  
}


// @media screen and (max-width:"950px") and (min-width:"750px") {
//   .text{
//     font-size: 14px;
//     line-height: 18px;
//     margin-left: 13%;
//   }

// }
