/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* overflow-x: hidden; */
/* ::-webkit-scrollbar {
  display: none;
  
} */
* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    /* -ms-overflow-style: none;  
    scrollbar-width: none;  */
    /* height: 100%; */
    /* width: 100% */
    max-width: 100%;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */

  
}

html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #F3F3F3;
  margin: 0%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* @font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: local('Poppins'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: local('Poppins'), url(./fonts/Poppins-Black.ttf) format('truetype');
} */


.border{
  height: 52px;
  background-color: #ffffff;
  display: flex;
  flex: 1 0 0;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  overflow-x:hidden;
  overflow-y: hidden;
  /* flex-wrap: nowrap; */
}

.borderSet{
  width: 278px;
  height: 1rem; 
  background-color: #959595 ;
  

  /* border: 18px solid #959595; */
}

.borderText{
  
  margin: 1rem;



 
  
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 118%;



  letter-spacing: -0.005em; 

  color: #959595;
}

.boxView{
  display: flex;
  justify-content: center;
  margin: 1rem;
}


.boxButton{
  box-sizing: border-box;

/* Auto layout */

    
     padding: 16px 58px;
     gap: 10px;

     
     /* height: 70px; */
    

     background: #FFFFFF;
     border: 3px solid #CB572C;
     border-radius: 50px;


     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 118%;


     color: #000000;
    
}

.boxButton > a{
  color: #000000;
  text-decoration: none;
}



.boxButton:hover {
  background-color: #CB572C;
  color:#FFFFFF;
  cursor: pointer;
 
}

.boxButton:hover > a{
  background-color: #CB572C;
  color:#FFFFFF;
  cursor: pointer;
 
}




@media only screen and (max-width: 650px) {
  .borderText{
    font-size: 25px;
  }
}

.row{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  

}
.cloumn{
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap

}

.row-wrap{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  

}

.cloumn-wrap{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;

}

 a{
  text-decoration: none;
  color: #000000;
}

/* a:hover{
  color:#ffffff;
  background-color: #CB572C;
}  */

.main{
  height: 70vh;
}

/* .imageRow{
  margin-top: 10vh;
} */

.imageScroll{
  /* background-color: #CB572C; */
        width: 600px;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        
        margin-top: 3rem;

       
}
.imageScroll > img{
  width: 100%;
  height: 400px;
  padding: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}