.career{
    overflow-x: hidden;
    .rowCareer{
            display: flex;
            flex-direction: row;
            margin-left: 60px;
            margin-right: 60px;
            // margin:2rem;
            justify-content:center;
            flex-wrap: wrap;
            align-items: center;


            .boxViewCareer{
                display: flex;
                justify-content: center;
                // margin: 1rem;
                //  margin-left: -2rem;
              }
              
              
              .boxButtonCareer{
                box-sizing: border-box;
              
              /* Auto layout */
              
                  
                //    padding: 16px 58px;
                   gap: 10px;
              
                   
                   /* height: 70px; */
                  
              
                //    background: #FFFFFF;
                   border: 3px solid #FFFFFF;
                   border-radius: 50px;
              
              
                   font-family: 'Poppins';
                   font-style: normal;
                   font-weight: 500;
                   font-size: 20px;
                   line-height: 118%;
              
              
                   color: #FFFFFF;
                  
              }
              
              .boxButtonCareer > a{
                color: #FFFFFF;
                text-decoration: none;
              }
              
              
              
              .boxButtonCareer:hover {
                background-color: #FFFFFF;
                 color:#000000;
                cursor: pointer;
               
              }
              
              .boxButtonCareer:hover > a{
                // background-color: #CB572C;
                // color:#FFFFFF;
                cursor: pointer;
               
              }
    }

    .rowCareerfirst{
        display: flex;
        flex-direction: row;
        
        // margin:2rem;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
    }
    .rowCareerfirst p:first-of-type{
                // width: 417px;
                // height: 144px;
                margin-top: 5rem;
                margin-right: 1rem;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 72px;
                text-align: justify;
                color: #000000;
                    }

                    div p:nth-of-type(2)   {
                        width: 652px;
                // height: 120px;
                // left: 792px;
                // top: 196px;
                // margin: 5rem auto auto 10rem, ;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 118%;
                /* or 24px */
                
                display: flex;
                align-items: flex-end;
                text-align: justify;
                letter-spacing: -0.015em;
                margin-top: 5rem;
                color: #353535;
                    }

    .grey-bg{
        width: 632px;
        //  height: 648px;
        background: #7A7A7A;
        border-radius: 37px;
        margin: 2rem;
        // padding: 3rem;
        .heading{
            // width: 494px;
            // height: 144px;
             margin:2rem;
             font-family: "Poppins";
             font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            letter-spacing: 0.025em;

            color: #FFFFFF;
        }
    }

    .orange-bg{
        width: 632px;
  
        // height: 648px;
        margin: 2rem;
        // padding: 3rem;
        background: #E37C56;
        border-radius: 37px;

        .heading{
            // width:40%;
            // height: 144px;
            

         
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            /* identical to box height */
            
            margin: 2rem;
            letter-spacing: 0.025em;

            color: #FFFFFF;
        }
    }

    .careerForm{
        // width: 1512px;
        // height: 585px;
        margin-top: 2rem;
        width: 100%;
        margin-left: 60px;
        margin-right: 60px;
        .cloumnForm{
            display: flex;
            flex-direction:column;
            flex-wrap:nowrap;
            margin-left: 30px
          }
          
          .row-wrapForm{
            display: flex;
            flex-direction:row;
            // justify-content: space-between;
            flex-wrap: wrap;
           
          
          }
        div{
            //  margin-top: -1rem;
            //  margin-left:1rem;
            //  margin-right:0.3rem;
            //  margin: auto;
            display:flex;
            // justify-content: center ;
            // align-items: center;
        }
     
        input{
            // margin:1rem;
            width:20vw;
            background: #FFFFFF;
            border: 1px solid #424242;
            border-radius: 8px;
            height: 3rem;
            margin-top:0.5rem

           
            }
            input::placeholder {
                 
                /* Firefox, Chrome, Opera */
                text-align: left;
                margin-left: 30px;
                text-indent: 1rem;
            }
            textarea{
                   width: 60vw;
                height: 8rem;
                margin-left: 3rem;
                 margin-top:10px;
                 margin-bottom:2rem;
                // margin-left: 3rem;
                border: 1px solid #424242;
                border-radius: 8px;


            }
            textarea::placeholder {
                 
                /* Firefox, Chrome, Opera */
                text-align: left;
                margin-left: 30px;
                text-indent: 2rem;
                
            }
            span{
                width: 291px;
               

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                
                letter-spacing: 0.025em;

                color: #E0E0E0;
            }


    }

    .careerForm p:nth-of-type(1){
        // width: 56vw;
        // height: 96px;
         margin:2rem;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 96px;
        /* identical to box height */
    
    
        letter-spacing: 0.025em;
    
        color: #CB572C;
        }

        .careerForm p:nth-of-type(2){
             width: 478px;
        
           margin-top: -2rem;
           margin-left: 2rem;
           margin-right: 2rem;
        //  margin:1rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        // line-height: 50px;
        
        letter-spacing: 0.025em;
        
        color: #E6E6E6;
        }
    // .careerForm div:nth-of-type(1){
    //     // margin: 2rem;
    // }

    .career-column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        
    }
    .career-row{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        // width: 80%;
        //  margin-right:10%;
        margin-left: 50px;
        // margin-top: -1rem;
         
        .attach{
            font-family: "Poppins";
            font-style: normal;
            // align-items: center;
            // padding: 1px 25px;
            //  gap: 10px;
            background-color: #383838;
            font-weight: 500;
            font-size: 18px;
            line-height: 36px;
            color: #FFFFFF;
            border: 3px solid #FFFFFF;
            border-radius: 71px;
            // margin-left: 1rem;
        }

        .attach:hover{
            background-color: #FFFFFF;
            color: #383838;
            cursor: pointer;
        }
    }

    .FromBG{
        background: #383838;
        // margin: 3rem;
        
    }
    .rowCareerButtonfix{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
// margin-left: 2rem;
    }   
    .containerClass{
        .special-label{
            display: none;
            margin-top: 12px;
            margin-left: -100%;
            z-index: none;
        }
    }
    
    .react-tel-input {
        font-family: 'Roboto',sans-serif;
        font-size: 15px;
        position: relative;
        width: 100%;
        margin-top: 10px;
    
    }
    .react-tel-input .flag-dropdown {
    
    width:40px
    }
    
    .react-tel-input .flag-dropdown.open {
        z-index: 2;
        background: #fff;
        width: 300px;
        border-radius: 3px 0 0 0;
    }     
}

@media only screen and (max-width:768px) {
    .career{
        .rowCareer{
                flex-direction: column;
                margin-left: 0px;
                margin-right: 0px;
                .boxViewCareer{
                    display: flex;
                    justify-content: center;
                    margin: 1rem;
                  }
                  
                  
                  .boxButtonCareer{
                    box-sizing: border-box;
                  
                  /* Auto layout */
                  
                      
                    //    padding: 16px 58px;
                       gap: 10px;
                  
                       
                       /* height: 70px; */
                      
                  
                    //    background: #FFFFFF;
                       border: 3px solid #FFFFFF;
                       border-radius: 50px;
                  
                  
                       font-family: 'Poppins';
                       font-style: normal;
                       font-weight: 500;
                       font-size: 15px;
                       line-height: 118%;
                  
                  
                       color: #FFFFFF;
                      
                  }
                  
        }
 div p:nth-of-type(2) {
            margin-top: 2rem;
            font-size: 16px;
            margin-left: 5%;
            margin-right: 5%;
        }
        .rowCareerfirst p:first-of-type{
            
            font-size: 32px;
            line-height: 38px;
            text-align: justify;
            color: #000000;
                }
                .careerForm p:nth-of-type(1){
                    font-size: 32px;
                    padding-top: 2rem;
                    line-height: 32px;
                    white-space: break-spaces;
                }
        .careerForm p:nth-of-type(2){
            font-size: 14px;
        }
        .careerForm{
            margin-left: auto;
            margin-right: auto;

    span{
        align-items: center;
    display: flex;
    justify-content: center;
    }
    .career-row{
        display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    }
            .cloumnForm{
                margin-top: 0;
            }

            input{
                width:80vw;
                

            }
            textarea{
                width:80vw;
                margin-left: 2rem;
            }
        }

        .grey-bg{
           
            width: 80vw;
           
            .heading{
                
                font-size: 32px;
                line-height: 32px;
               
            }
        }
    
        .orange-bg{
            width: 80vw;
    
            .heading{
               
                
    
             
                font-size: 38px;
                line-height: 38px;
               
            }
        }

        .rowCareerButtonfix{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 0%;
                } 
    }
   
     
}

.message::-webkit-input-placeholder {
    padding-top: 10px;
 }
 
 .message::-moz-input-placeholder {
    padding-top: 10px;
 }
 
 .message:-moz-input-placeholder {
    padding-top: 10px;
 }
 
 .message:-ms-input-placeholder {
    padding-top: 10px;
 }





// .PhoneInputCountry {
//     position: relative;
//     align-self: stretch;
//     display: flex;
//     align-items: center;
//     margin-right: var(--PhoneInputCountrySelect-marginRight);
//     background: white;
//     height: 40px;
//     margin-top: 10px;
//     padding: 3px;
//     border-radius: 5px;
// }


