/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.career {
  overflow-x: hidden;
}
.career .rowCareer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 60px;
  margin-right: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.career .rowCareer .boxViewCareer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.career .rowCareer .boxButtonCareer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Auto layout */
  gap: 10px;
  /* height: 70px; */
  border: 3px solid #FFFFFF;
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 118%;
  color: #FFFFFF;
}
.career .rowCareer .boxButtonCareer > a {
  color: #FFFFFF;
  text-decoration: none;
}
.career .rowCareer .boxButtonCareer:hover {
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}
.career .rowCareer .boxButtonCareer:hover > a {
  cursor: pointer;
}

.career .rowCareerfirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.career .rowCareerfirst p:first-of-type {
  margin-top: 5rem;
  margin-right: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: justify;
  color: #000000;
}
.career div p:nth-of-type(2) {
  width: 652px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 118%;
  /* or 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: justify;
  letter-spacing: -0.015em;
  margin-top: 5rem;
  color: #353535;
}
.career .grey-bg {
  width: 632px;
  background: #7A7A7A;
  border-radius: 37px;
  margin: 2rem;
}
.career .grey-bg .heading {
  margin: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.career .orange-bg {
  width: 632px;
  margin: 2rem;
  background: #E37C56;
  border-radius: 37px;
}
.career .orange-bg .heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  margin: 2rem;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.career .careerForm {
  margin-top: 2rem;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
}
.career .careerForm .cloumnForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 30px;
}
.career .careerForm .row-wrapForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.career .careerForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
}

.careerFIx2 .c2 {
  display: none;
}
.career .careerForm input {
  width: 20vw;
  background: #FFFFFF;
  border: 1px solid #424242;
  border-radius: 8px;
  height: 3rem;
  margin-top: 0.5rem;
}

.career .careerForm input::-moz-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 1rem;
}
.career .careerForm input:-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 1rem;
}
.career .careerForm input::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 1rem;
}
.career .careerForm input::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 1rem;
}
.career .careerForm input::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 1rem;
}
.career .careerForm textarea {
  width: 60vw;
  height: 8rem;
  margin-left: 3rem;
  margin-top: 10px;
  margin-bottom: 2rem;
  border: 1px solid #424242;
  border-radius: 8px;
}
.career .careerForm textarea::-moz-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 2rem;
}
.career .careerForm textarea:-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 2rem;
}
.career .careerForm textarea::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 2rem;
}
.career .careerForm textarea::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 2rem;
}
.career .careerForm textarea::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  margin-left: 30px;
  text-indent: 2rem;
}
.career .careerForm span {
  width: 291px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.025em;
  color: #E0E0E0;
  margin-left: 3rem;
}
.career .careerForm p:nth-of-type(1) {
  margin: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
  letter-spacing: 0.025em;
  color: #CB572C;
}
.career .careerForm p:nth-of-type(2) {
  width: 478px;
  margin-top: -2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.025em;
  color: #E6E6E6;
}
.career .career-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.career .career-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 50px;
}
.career .career-row .attach {
  font-family: "Poppins";
  font-style: normal;
  background-color: #383838;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 71px;
}
.career .career-row .attach:hover {
  background-color: #FFFFFF;
  color: #383838;
  cursor: pointer;
}
.career .FromBG {
  background: #383838;
}
.career .rowCareerButtonfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.career .containerClass .special-label {
  display: none;
  margin-top: 12px;
  margin-left: -100%;
  z-index: none;
}
.career .react-tel-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.career .react-tel-input .flag-dropdown {
  width: 40px;
  margin-left: -3px
}
.career .react-tel-input .flag-dropdown.open {
  z-index: 2;
  background: #fff;
  width: 300px;
  border-radius: 3px 0 0 0;
}
.careerFIx2 .c2{
  display: none;
}

#root > div > div.career > div.FromBG > div > form > div > div.career-column > div > div.careerFIx > div.marginButton > div.careerFIx2 > div:nth-child(1){
  display: none;
}
@media only screen and (max-width: 934px) {
  .marginButton {
    display: flex;
    flex-direction: column;
  }
  .career .rowCareer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
  .career .rowCareer .boxViewCareer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem;
  }
  .career .rowCareer .boxButtonCareer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* Auto layout */
    gap: 10px;
    /* height: 70px; */
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 118%;
    color: #FFFFFF;
  }

  .career .grey-bg .heading {
    text-align: center;
  }
  .career div p:nth-of-type(2) {
    margin-top: 2rem;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .career .rowCareerfirst p:first-of-type {
    font-size: 32px;
    line-height: 38px;
    text-align: justify;
    color: #000000;
  }
  .career .careerForm p:nth-of-type(1) {
    font-size: 32px;
    padding-top: 2rem;
    line-height: 32px;
    white-space: break-spaces;
  }
  .career .careerForm p:nth-of-type(2) {
    font-size: 14px;
  }
  .career .careerForm {
    margin-left: auto;
    margin-right: auto;
  }
  .career .careerForm span {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .career .careerForm .career-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-right: auto;
    margin-left: auto; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-left: 9px;
            
  }
  .career .careerForm .cloumnForm {
    margin-top: 0;
  }
  .career .careerForm input {
    width: 80vw;
  }
  .career .careerForm textarea {
    width: 80vw;
    margin-left: 2rem;
  }
  .career .grey-bg {
    width: 80vw;
  }
  .career .grey-bg .heading {
    font-size: 32px;
    line-height: 32px;
  }
  .career .orange-bg {
    width: 80vw;
  }
  .career .orange-bg .heading {
    font-size: 38px;
    line-height: 38px;
  }
  .career .rowCareerButtonfix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0%;
    margin-bottom: 2rem;

  }

  .career .careerForm span {
    width: 291px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.025em;
    color: #E0E0E0;
    margin-left: 0rem;
    display: none;
  }
}

@media screen and (max-width: 320){
  .career .rowCareer .boxButtonCareer {
      box-sizing: border-box;
      gap: 10px;
      height: auto;
      border: 3px solid #FFFFFF;
      border-radius: 50px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 4.5vw;
      line-height: 118%;
      color: #FFFFFF;
      max-width: 80vw;
  }
  }
.message::-webkit-input-placeholder {
  padding-top: 10px;
}

.message::-moz-input-placeholder {
  padding-top: 10px;
}

.message:-moz-input-placeholder {
  padding-top: 10px;
}

.message:-ms-input-placeholder {
  padding-top: 10px;
}


@media screen and (max-width:1250) {
  .career .career-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: -1rem;
}
}


@media  screen and (max-width:935px){

  .captchaa{
    margin-right: auto;
    margin-left: auto;
  }

  .containerClass{
    margin-left: 3px;
  }

  .react-tel-input .flag-dropdown {
      border-radius: 8px 0px 0px 8px;
  }
  .career .careerForm .row-wrapForm {
    justify-content: center;
  }

  .career .careerForm textarea{
    margin-left: auto;
    margin-right: auto;
  }
  .career .career-column {
   
    margin-left: 28px;
}

.careerFIx2{
  color: #FFFFFF;
  max-width: 291px;
  /* margin-left: -15px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.025em;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
}
#root > div > div.career > div.FromBG > div > form > div > div.career-column > div > div.careerFIx > div.marginButton > div.careerFIx2 > div:nth-child(1){
  display: flex;
  margin-top: 5px;
}
}